/* ==========================================================================
    Few points to remeber for every CSS property
    +++++++++++++++++++++++++++++++++++++++++++++++
    • Default values for different elements
    • Different values that can be given
    • Inheritence
    • Can they be applied to all elements
    • Can they be animated
   ========================================================================== */
/*
block related style properties
+++++++++++++++++++++++++++++++++++++++++++
~  word-spacing: normal | <length>
~  letter-spacing : normal | <length>
    ^ default value is auto
    ^ This property gets inherited
    ^ This property can be applied to all the elements
    ^ Can animate
~  vertical-align : baseline | sub | super | text-top | text-bottom | middle | top | bottom | <percentage> | <length>
    ^ default value is baseline
    ^ This property doesn't gets inherited
    ^ This property can be applied to very few elements, like img, input, td, tr, table
    ^ you can animate
https://developer.mozilla.org/en-US/docs/Web/CSS/vertical-align
~  text-align : left | right | center | justify
    ^ default value is left - depends on page direction
    ^ This property gets inherited
    ^ This property can be applied to all the elements
    ^ Can't animate
~  text-indent
    ^ default value is auto
    ^ This property gets inherited
    ^ This property can be applied to block level elements
    ^ Can't animate
~  white-space: normal | pre | nowrap | pre-wrap | pre-line
    ^ default value is auto
    ^ This property gets inherited
    ^ This property can be applied to block level elements
    ^ Can't animate
    https://developer.mozilla.org/en/docs/Web/CSS/white-space
~  display: block | inline | inline-block | 
            table | table-row | table-cell | 
            list-item | none
    ^ default value is auto
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can animate
https://developer.mozilla.org/en-US/docs/Web/CSS/display

~  content – 
~  text-overflow - clip | ellipsis 
auto;
inherit;
*/


.ws-demo{word-spacing: 10px;}
.ls-demo{letter-spacing: 10px;}
.va-demo{vertical-align: bottom;}


.ta-l-demo{text-align: left;text-indent: 50px;}
.ta-r-demo{text-align: right;}
.ta-c-demo{text-align: center;}
.ta-j-demo{text-align: justify;}

.whitesapce-demo{white-space: pre;}
.whitesapce-demo-nowrap{white-space: nowrap; 
  display: block;}


.demo-block-inline * {
  border: 1px solid #000;
}
.demo-inlineblock * {
  display: inline-block;
  border: 1px solid #000;
  margin: 10px;
  }

.demo-block-inline p{
    background-color: #F00;
    color: #FFF;
    text-align: center;
}
.demo-inlineblock p{
    background-color: #F00;
    color: #FFF;
    text-align: center;
}

.img-grid{
    background-color: lightgray;
    padding: 10px;
    width: 400px;
}
.img-grid a{
    border: solid 4px red;
    display: block;
}
.img-grid img{
    border: solid 4px blue;
    display: block;
    width: 100%;

}


.demo-text-overflow{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
