/* 
  Common Styles
  ****************************  */
body{
  font-family: 'Poppins', sans-serif;
}

h1{

}
h2{

}
a:link{}
a:hover{}
a:active{}
a:visited{}

:root {
  --primary-color: #038767;
  --mobile-view: 767px;
  --tablet-view: 768px;
  --desktop-view: 1024px;
}

/* **************************** 


  Styles for Header
  ****************************  */

  .page-header{
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255,255,255,.6);
    z-index: 10;
  }
  .page-header::after{
    content: "";
    display: block;
    clear: both;
  }
  .ph-ham{
    width: 30px;
    height: 30px;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    background-color: #ecffef;
    float: left;
    margin-top: 15px;
    position: relative;
    transition: background-color 500ms ease-in;
    cursor: pointer;
  }
  @media (min-width:1024px) {
    .ph-ham{display: none;}
  }

  
  .ph-ham:hover{
    background-color: var(--primary-color);
  }
  .ph-ham span{
    height: 3px;
    background-color: var(--primary-color);
    border-radius: 4px;
    position: absolute;
    left: 4px;
    transition: all 500ms ease-in;
  }
  .ph-ham:hover span{
    background-color: #ecffef;
  }

  .ph-ham span:first-child{
    top: 5px;
    width: 20px;
  }
  .ph-ham:hover span:first-child{
    transform: rotate(10deg);
  }
  .ph-ham span:nth-child(2){
    top: 12px;
    width: 15px;
  }
  .ph-ham span:last-child{
    top: 19px;
    width: 18px;
  }
/* Ham button when clicked */
  .ph-ham._clicked{
    background-color: var(--primary-color);
  }
  .ph-ham._clicked span{
    background-color: #ecffef;
  }

  .ph-ham._clicked span:first-child{
    transform: rotate(45deg);
    top: 14px;
  }
  .ph-ham._clicked span:nth-child(2){
    width: 0;
    left: 0;
  }
  .ph-ham._clicked span:last-child{
    width: 20px;
    transform: rotate(-45deg);
    top: 12px;

  }





/* Menu */
  .menu{
    background-color: #fff;
    position: absolute;
    left: 0; top: 70px;
    border-radius: 0 0 10px 10px;
    padding: 15px;
    width: 200px;
    z-index: 10;
    display: none;
  }
  @media (min-width:1024px) {
    .menu{
      display: block;
      position: static;
      width: 70%;
      background-color: transparent;
      padding: 0;
      margin: 0 auto;
    }
    .menu ul{
      text-align: center;
    }
    .menu ul::after{
      content: "";
      display: block;
      clear: both;
    }
    .menu ul li{
      padding: 0 10px;
      display: inline-block;
    }
    .menu ul li a{
      border-bottom: none;
    }
  }
  .menu ul{
    padding-left: 0;
    list-style-type: none;
  }
  .menu ul a{
    text-transform: uppercase;
    color: var(--primary-color);
    font-size: 16px;
    display: block;
    text-decoration: none;
    padding: 8px 0;
    border-bottom: 1px solid #e0ffdb;
    position: relative;
  }
  .menu ul a:hover{
    color: #01523e;
  }
  .menu ul a::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: #01523e;
    position: absolute;
    right: 0;left: 0;
    margin: 0 auto;
    bottom: 2px;
    transition: all ease-out 750ms;
  }
  .menu ul a:hover::after{
    width: 100%;
  }


  .ph-logo{
    margin: 0 60px;
    border: 1px solid #000;
    display: block;
    text-align: center;
  }
  .ph-logo img{
    width: 190px;
  }

  @media (min-width:1024px) {
    .ph-logo{
      margin: 0;
      display: block;
      float: left;
    }
    .ph-logo img{
      width: 240px;
    } 
  }
  .ph-search{
    background-image: url("../images/icon-search.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    float: right;
    margin-top: 15px;
  }





  /* **************************** 


  Styles for Hero Banner
  ****************************  */

  .hero{
    position: relative;
    min-height: 400px;
  }
  .hero img{
    display: block;
    width: 100%;
    height: 400px;
    position: absolute;
    inset: 0;
    object-fit: cover;
  }
  .hero h2{
    font-family: 'Allura', 'Brush Script MT', cursive;
    font-size: 35px;
    color: #FFF;
    position: relative;
    padding: 0 45% 0 5%;
    top: 240px;
    margin: 0;
    transition: all 500ms ease-in-out;
  }
  .hero h2 span{
    display: block;
    text-align: center;
  }
  .hero h2 b{
    display: block;
    text-align: right;
  }
  @media (min-width:768px) {
    .hero{ min-height: 500px;}
    .hero img{height: 500px;}
    .hero h2{font-size: 65px;}
  }
  @media (min-width:1024px) {
    .hero{ min-height: 700px;}
    .hero img{height: 700px;}
    .hero h2{
      font-size: 85px;
      padding: 0 10% 0 55%;
      top: 360px;
    }
  }
  



  .lead-txt{
    background-image: url("../images/bg-lead-text.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 20px 40px;
    position: relative;
    margin-top: -60px;
  }
  .amenities{
    min-height: 50vh;
    background: crimson;
    padding: 20px;
  }
.amenity-list{
  border: solid 4px red;
  padding-left: 0;
  list-style-type: none;
}
.amenity-list::after{content: "";display: block;clear: both;}
.amenity-list li{
  width: 115px;
  float: left;
  min-height: 180px;
  margin-right: 15px;
  position: relative;
  padding: 120px 0 0;
  text-align: center;
  font-size: 15px;
}
.amenity-list li:last-child{
  margin-right: 0;
}
.amenity-list li::before{
  content: "";
  width: 115px;
  height: 120px;
  position: absolute;
  left: 0;top: 0;
  background-image: url("../images/icon-bg.svg");
  background-repeat: no-repeat;
  background-position: center 0;
}
.amenity-list li::after{
  content: "";
  width: 115px;
  height: 120px;
  position: absolute;
  left: 0;top: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.amenity-list li.icon-temple::after         {background-image: url("../images/icons/icon-01.svg");}
.amenity-list li.icon-meditation::after     {background-image: url("../images/icons/icon-02.svg");}
.amenity-list li.icon-spa::after            {background-image: url("../images/icons/icon-03.svg");}
.amenity-list li.icon-library::after        {background-image: url("../images/icons/icon-04.svg");}
.amenity-list li.icon-jogging::after        {background-image: url("../images/icons/icon-05.svg");}
.amenity-list li.icon-cycling::after        {background-image: url("../images/icons/icon-06.svg");}
.amenity-list li.icon-horse::after          {background-image: url("../images/icons/icon-07.svg");}
.amenity-list li.icon-kids::after           {background-image: url("../images/icons/icon-08.svg");}
.amenity-list li.icon-security::after       {background-image: url("../images/icons/icon-09.svg");}





  /* Container */
  .container{
    margin: 0 auto;
    max-width: 1200px;
    padding: 50px 15px 80px;
  }
  .container{content: "";display: block;clear: both; }
  .container h2{
    font-size: 6.5vw;
  }
  /* @media (min-width:768px) {
    .container h2{font-size: 40px; }
  }
  @media (min-width:1024px) {
    .container h2{font-size: 50px; }
  } */

  .blog{
    background-color: #ededed;
    border: solid 1px #d1d1d1;
    border-radius: 10px;
  }
  @media (min-width:768px) {
    .blog{
      width: calc(50% - 30px);
      float: left;
      margin: 15px;
    }
  }
  @media (min-width:1024px) {
    .blog{
      width: calc(33.33% - 30px);
    }
  }
  .blog figure{margin: 0;}
  .blog figure a{display: block;}
  .blog figure a img{
    width: 100%;
    border-radius: 10px 10px 0 0;
    margin-bottom: 10px;
  }
  .blog span, .blog h3, .blog p{
    padding: 0 15px;
  }
  .blog span{
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    padding: 0 15px;
  }




