// site-nav.scss

$white:#FFF;
$link-hover-color:green;

.site-nav{
  ul{
    padding-left: 0;
    list-style-type: none;
    li a{
      color: $white;

      &:hover{
        color: $link-hover-color;
      }
    }
  }
}
