// @import 'site-nav';

@import 'variables';

body{
  background-color: $page-bg-color;
  font-family: $font-face;
}

.page-container{
  display: flex;
}

@import 'hero-banner';

.site-header{
  width: 80px;
  background-color: $header-bg-color;
  .logo{
    border: 1px solid #000;
    padding: $default-padding;
    img{width: 100%;}
  }
  @media (min-width:$tablet-width) {
    width: 200px;
  }
  @media (min-width:$desktop-width) {
    width: 280px;
  }
}

@import 'site-nav-p';



.content-container{
  padding: 20px;
  border: 4px solid $white;
  width: 100%;
}

.page-header{
  background-color: $primary-color;
  padding: $default-padding;

  h1{
    font-size: $h1-font-size;
    color: $white;
    margin: 0;
  }
  p{margin-top: 10px;}
}

@mixin box($color:green) {
  background: lighten($color, 50%);
  border: 3px solid lighten($color, 60%);
  padding: $default-padding;
  border-radius: $default-radius;
  margin-bottom: $default-margin;
  h2{
    margin: 0;
    line-height: 2;
    font-size: $base-font-size*1.5;
  }
}

.bdr-1{
  @include box();

}

.dabba{
  @include box(rgb(140, 0, 0));
}

.only-mobile{
  @media (max-width: $tablet-width - 1 ) {    
    background-color: $darkpink;
    padding: $default-padding;
    margin-bottom: $default-margin;
  }
  @media (min-width:$tablet-width) {
    display: none;
  }
}

.form-row{
  padding: $default-padding;
  border-top: solid 1px #CCC;
  display: flex;

  label{
    width: 200px;
    text-align: right;
    padding-right: $default-padding;
  }
}